@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Basic CSS */

body {
  font-family: 'Montserrat', sans-serif;
  background: #f7f7f7;
}

#logo {
  text-align: center;
  margin-top: 50px;
  color: #3f3844;
  font-size: 2em;
}

#errors {
  display: none;
  background: #ff5952;
  padding: 20px 10px;
  color: #fff;
  text-align: center;
}

#list-container {
  background: #fff;
  padding: 20px;
  transition: visibility 0s, opacity 0.5s linear;
}

#list-add-form {
  display: flex;
}

#list-add-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #edf2f7;
}

#lists {
  margin-top: 20px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list p {
  width: 94%;
  color: #3f3844;
  font-weight: 600;
}

.list i {
  width: 4%;
  color: #ff5952;
}

#todo-container {
  background: #fff;
}

#todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #edf2f7;
}

#todo-header i {
  width: 2%;
}

#todo-header p {
  width: 95%;
  text-align: center;
  color: #3f3844;
  font-weight: 600;
}

#todo-header input {
  width: 80%;
  text-align: center;
  padding: 10px;
  border: 1px solid #edf2f7;
}

#todo-add-form {
  display: flex;
  padding: 20px 20px 10px 20px;
}

#todo-add-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #edf2f7;
}

#todos {
  padding: 0 20px 20px 20px;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todo input {
  width: 5%;
}

.todo p {
  width: 90%;
  font-weight: 500;
}

#todo-edit-container {
  background: white;
}

#todo-edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #edf2f7;
}

#todo-edit-header p {
  width: 80%;
  font-weight: bold;
  color: #3f3844;
}

#todo-edit-header i {
  width: 5%;
}

#todo-edit-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#todo-edit-info input[type='text'] {
  padding: 10px;
  border: 1px solid #edf2f7;
  margin-bottom: 20px;
}

#edit-input-grp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#todo-edit-info textarea {
  border: 1px solid #edf2f7;
  padding: 10px;
}

/* Small & Medium device CSS */
@media (max-width: 768px) {
  body {
    letter-spacing: 1px;
  }

  #app-container {
    width: 95%;
    margin: 50px auto;
  }

  #todo-header {
    padding: 15px;
  }

  #todo-header i {
    width: 5%;
  }

  #todo-edit-header {
    margin-top: 20px;
    padding: 15px;
  }

  #edit-input-grp input {
    width: 46%;
    padding: 10px;
    border: 1px solid #edf2f7;
    background: #f8f8f8;
  }

  #edit-input-grp select {
    width: 46%;
    padding: 10px;
    border: 1px solid #edf2f7;
    background: #f8f8f8;
  }
}

/* Desktop CSS */
@media (min-width: 992px) {
  body {
    letter-spacing: 1.5px;
  }

  #app-container {
    width: 1000px;
    margin: 50px auto;
  }

  #list-container {
    width: 40%;
    margin: 0 auto;
  }

  #todo-header {
    padding: 20px;
  }

  #todo-header i {
    width: 5%;
  }

  #todo-container {
    width: 50%;
    margin: 0 auto;
  }

  #todo-edit-container {
    width: 50%;
    margin: 20px auto;
  }

  #todo-edit-header {
    padding: 20px;
  }

  #edit-input-grp input {
    width: 47%;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #edf2f7;
  }

  #edit-input-grp select {
    width: 47%;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #edf2f7;
  }
}

/* Helper classes */

.error {
  border: 1px solid #ff5952;
}

.error::-webkit-input-placeholder {
  color: #ff5952;
}

i {
  cursor: pointer;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.list p,
.todo p {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.high {
  color: #ff5952;
}

.medium {
  color: #ffd656;
}
